language: python
python:
  - "3.7.4"
install:
  - sudo apt-get update

  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda info -a

  - conda env create -q -n test-environment -f environment.yml python=$TRAVIS_PYTHON_VERSION
  - conda activate test-environment

  - pip install pytest

  - python setup.py install

script:
  - python -m pytest src/pynwb/tests

deploy:
  provider: pypi
  user: __token__
  password: PYPI_TOKEN
  on:
    branch: master_release
  distributions: "sdist bdist_wheel"
